<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{pageTitle}
    link(rel="stylesheet", href="/css/main.css")
    block styles
  body
    header
      nav
        ul
          li
            a(href="/", style=(path === "/" && "font-weight:bold;")) Shop
          li
            a(href="/admin/add-product", style=(path === "/admin/add-product" && "font-weight:bold;")) Add product
    main
      block content
