<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ pageTitle }}</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/" style="{{#if shopIsActive}}font-weight:bold;{{/if}}">Shop</a></li>
        <li><a href="/admin/add-product" style="{{#if addProductIsActive}}font-weight:bold;{{/if}}">Add product</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {{{ body }}}
  </main>
</body>

</html>
