<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('includes/header.ejs') %>
    <main>
      <h1>My products</h1>
      <% if (products.length > 0) { %>
      <div class="grid">
        <% for (product of products) { %>
      </div>
      <article class="product">
        <header>
          <h2><%= product.title %></h2>
        </header>
      </article>
      <% } %> <% } else { %>
      <p>No products have been added.</p>
      <% } %>
    </main>
  </body>
</html>
