extends layouts/main-layout.pug

block content
  if products.length > 0
    .grid
      each product in products
        article.product
          header
            h2 #{product.title}
  else
    p No products have been added.
