body {
  margin: 0;
}

h1 {
  color: red;
}

a {
  color: red;
}

nav {
  padding: 1rem;
  background: lightgrey;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 1rem;
}

main {
  padding: 1rem;
}

.grid {
  display: flex;
}

.grid > article {
  margin-right: 1rem;
  border: 1px solid black;
}

.active {
  font-weight: bold;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid black;
  width: 400px;
}

.product img {
  width: 100%;
}
